* {
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: #faebd7;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.8px dotted;
  height: 200px;
}

header img {
  width: 150px;
  height: 150px;
  padding: 5px 100px;
}

header ul {
  padding: 5px 100px;
}

header ul li {
  display: inline;
  font-size: 25px;
  margin-left: 20px;
}

header ul li a {
  text-decoration: none;
  color: blue;
}
header ul li .active {
  color: #fe5f85;
  text-decoration: underline;
}

a:active,
a:hover {
  color: #fe5f85;
  text-decoration: underline;
}

.banniere {
  background-image: url("./banniere.svg");
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  height: 250px;
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 5px;
  position: relative;
}
p,
aside h2 {
  font-size: 22px;
}

section {
  margin: 10px 100px;
}

section img {
  width: 100px;
  height: 100px;
}

section article {
  float: left;
  width: 60%;
  text-align: justify;
}

section article h2 {
  font-size: 30px;
}

section aside {
  float: right;
  width: 35%;
  text-align: center;
  background-color: #8b8a82;
  color: white;
  padding-top: 50px;
  padding-bottom: 20px;
  border-radius: 5px;
}

section aside p {
  text-align: justify;
  padding: 0 20px;
}
.liens {
  font-size: 20px;
}

.liens i {
  margin-left: 5px;
  margin-right: 5px;
}

footer {
  clear: both;
  border-top: 0.8px dotted;
  display: flex;
  margin-left: 100px;
  margin-right: 100px;
}

.footer-item {
  margin-right: 100px;
}

.footer-item img {
  width: 100px;
  height: 50px;
  border: 5px solid lightblue;
}
.footer-item h2 {
  font-size: 30px;
}
.footer-item p,
.footer-item li {
  font-size: 25px;
}

.background-overlay {
  position: absolute;
  width: 100%;
  background-color: #81989a;
  opacity: 0.6;
  bottom: 0;
  height: 60px;
  z-index: 0;
  border-radius: 5px;
}

.sub-banner {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* background-color: rgba(255, 255, 255, 0.5); */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 60px;
}

.sub-banner p {
  margin-left: 10px;
  z-index: 2;
  font-size: 25px;
}

.sub-banner button {
  margin-right: 10px;
  background-color: #740909;
  width: 200px;
  color: white;
  font-size: 25px;
  border: none;
  padding: 5px;
  border-radius: 5px;
  z-index: 2;
}
